<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".firebase.FirebaseBeg"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChefsKisses"
        tools:targetApi="33">
        <activity android:name=".ui.SearchPage"
            android:exported="false"/>
        <activity android:name=".ui.SavedPage"
            android:exported="false"/>
        <activity android:name=".ui.AddPage"
            android:exported="false"/>
        <activity android:name=".ui.ProfilePage"
            android:exported="false"/>
        <activity android:name=".ui.HomePage"
            android:exported="false"/>
        <activity android:name=".ui.Register"
            android:exported="false"/>
        <activity android:name=".ui.Meals"
            android:exported="false"/>
        <activity android:name=".ui.MealPage"
            android:exported="false"/>
        <activity android:name=".ui.AboutMe"
            android:exported="false"/>
        <activity
            android:name=".ui.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
